## NOTE: etcd configs must be created before running this

[Unit]
Description=Statsd Daemon
After=docker.service bootstrap.service

[Service]
Environment="IMAGE=etcdctl get /images/statsd"
User=core
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill statsd
ExecStartPre=-/usr/bin/docker rm statsd
ExecStartPre=/usr/bin/sh -c "/usr/bin/docker pull $($IMAGE)"
ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
  --name statsd \
  -p 8126:8126 \
  -p 8124:8125/udp \
  -p 8124:8125/tcp \
  -e INFLUXDB_HOST=`etcdctl get /statsd/influxdb_host` \
  -e INFLUXDB_PORT=`etcdctl get /statsd/influxdb_port` \
  -e INFLUXDB_SSL=`etcdctl get /statsd/influxdb_ssl` \
  -e INFLUXDB_DATABASE=`etcdctl get /statsd/influxdb_database` \
  -e INFLUXDB_USERNAME=`etcdctl get /statsd/influxdb_username` \
  -e INFLUXDB_PASSWORD=`etcdctl get /statsd/influxdb_password` \
  -e STATSD_DEBUG=`etcdctl get /statsd/statsd_debug` \
  $($IMAGE)"
ExecStop=/usr/bin/docker stop statsd

[X-Fleet]
Global=true
MachineMetadata=role=worker
