[Unit]
Description=Log Rotator for docker containers
After=docker.service
Requires=docker.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker stop logrotate
ExecStartPre=-/usr/bin/docker rm -f logrotate
ExecStartPre=/usr/bin/docker pull michaloo/logrotate
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill logrotate
ExecStartPre=-/usr/bin/docker rm logrotate
ExecStart=sudo /usr/bin/docker run --name logrotate -v /var/lib/docker:/var/lib/docker michaloo/logrotate
ExecStop=/usr/bin/docker stop logrotate

[X-Fleet]
Global=true
