[Unit]
Description=Sumologic Collector
After=docker.service

[Service]
User=core
Restart=always
ExecStartPre=-/usr/bin/docker stop sumologic
ExecStartPre=-/usr/bin/docker rm -f sumologic
ExecStartPre=/usr/bin/docker pull behance/docker-sumologic
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill sumologic
ExecStartPre=-/usr/bin/docker rm sumologic
ExecStart=/usr/bin/bash -c \
    "if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
    sudo /usr/bin/docker run --name sumologic \
    -v /var/lib/docker/containers/:/tmp/clogs/:ro \
    -e SUMO_NAME=docker_cluster \
    -e SUMO_CATEGORY=be/`cat /home/core/.product`/`cat /home/core/.tier`/container-logs \
    -e SUMO_COLLECTOR_NAME=mesos_app_collector \
    -e SUMO_ACCESS_ID=`etcdctl get /sumologic_id` \
    -e SUMO_ACCESS_KEY=`etcdctl get /sumologic_secret` \
    behance/docker-sumologic"
ExecStop=/usr/bin/docker stop sumologic

[X-Fleet]
Global=true
