[Unit]
Description=Exhibitor/Zookeeper
After=docker.service
Requires=docker.service

[Service]
Environment=EXHIBITOR_IMAGE=mbabineau/zookeeper-exhibitor:3.4.6_1.5.5

User=core
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill zookeeper-exhibitor
ExecStartPre=-/usr/bin/docker rm zookeeper-exhibitor
ExecStartPre=/usr/bin/docker pull ${EXHIBITOR_IMAGE}
ExecStart=/usr/bin/sh -c "sudo /usr/bin/docker run \
          --name=zookeeper-exhibitor \
          -p 8181:8181 -p 2181:2181 -p 2888:2888 -p 3888:3888 \
          -e S3_BUCKET=`etcdctl get /zookeeper/s3_exhibitor_bucket` \
          -e S3_PREFIX=`etcdctl get /zookeeper/s3_exhibitor_prefix` \
          -e HOSTNAME=`curl -s http://169.254.169.254/latest/meta-data/local-ipv4` \
          ${EXHIBITOR_IMAGE}"
ExecStop=/usr/bin/docker stop zookeeper-exhibitor

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=control
