[Unit]
Description=Docker Cleanup
After=docker.service
Requires=docker.service

[Service]
User=core
Restart=on-failure
RestartSec=20
TimeoutStartSec=0
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStart=/usr/bin/sudo bash /home/core/mesos-systemd/v3/util/docker-cleanup.sh

[X-Fleet]
Global=true
MachineMetadata=role=worker
MachineMetadata=role=it-hybrid
