[Unit]
Description=journald to splunk pipe
After=bootstrap.service splunk-journald.service
Wants=splunk-journald.service
[Service]
EnvironmentFile=/etc/environment
Environment="INSTANCEID=curl -s http://169.254.169.254/latest/meta-data/ami-id"
Environment="PUBLICHOSTNAME=curl -s http://169.254.169.254/latest/meta-data/public-hostname"
TimeoutStartSec=0
Restart=always
RestartSec=5s
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStartPre=/usr/bin/systemctl is-active splunk-journald
ExecStart=/bin/sh -c 'journalctl -o json -f | jq --arg instanceid $($INSTANCEID) \'. + {instanceid: $instanceid}\' | jq --arg publichostname $($PUBLICHOSTNAME) \'. + {publichostname: $publichostname}\' | ncat --udp localhost 1514'
[Install]
WantedBy=multi-user.target
[X-Fleet]
Global=true
