[Unit]
Description=Log Rotator for docker containers
After=docker.service
Requires=docker.service

[Service]
User=core
Restart=always
RestartSec=10
TimeoutStartSec=0
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStartPre=/usr/bin/docker pull index.docker.io/behance/docker-gocron-logrotate
ExecStartPre=-/usr/bin/docker kill logrotate
ExecStartPre=-/usr/bin/docker rm -f logrotate
ExecStart=/usr/bin/sudo /usr/bin/docker run --name logrotate -v /var/lib/docker:/var/lib/docker behance/docker-gocron-logrotate
ExecStop=/usr/bin/docker stop logrotate

[X-Fleet]
Global=true
