# https://raw.githubusercontent.com/DataDog/docker-dd-agent/master/dd-agent.service
# make sure the etcd /ddapikey is set!
[Unit]
Description=Datadog Agent for Mesos, Marathon & Zookeeper
After=docker.service

[Service]
# CONTROL_ELB should be set in etcd
# It should be the host that mesos, marathon & zookeeper run on
# Look at behance/docker-dd-agent-mesos for what ports those 3 should be running on
User=core
Restart=always
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull index.docker.io/behance/docker-dd-agent-mesos:latest
ExecStartPre=-/usr/bin/docker kill dd-agent-mesos
ExecStartPre=-/usr/bin/docker rm -f dd-agent-mesos
ExecStart=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && sudo /usr/bin/docker run --name dd-agent-mesos -h `hostname` \
-e API_KEY=`etcdctl get /datadog/config/api-key` \
-e MESOS_HOST=`etcdctl get /environment/CONTROL_ELB` \
-e MARATHON_USERNAME=`etcdctl get /marathon/config/username` \
-e MARATHON_PASSWORD=`etcdctl get /marathon/config/password` \
behance/docker-dd-agent-mesos"
ExecStop=/usr/bin/docker stop dd-agent-mesos

[X-Fleet]
Global=false
MachineMetadata=role=control
MachineMetadata=role=it-hybrid
