[Unit]
Description=MesosSlave @ %i
After=docker.service bootstrap.service
Requires=docker.service bootstrap.service

[Service]

User=core
Restart=always
RestartSec=20
TimeoutStartSec=0

ExecStartPre=/usr/bin/systemctl is-active update-os.service
# condition / assertion options here for some reason do not prevent the
# ExecStart from spinning up and mounting / creating .dockercfg/ as a dir
ExecStartPre=/usr/bin/bash -c "if [ ! -f /home/core/.dockercfg ]; then exit 1; fi"
ExecStartPre=/usr/bin/bash -c "if [ ! -f /opt/mesos/credentials ]; then exit 1; fi"

ExecStart=/usr/bin/bash /home/core/mesos-systemd/v3/util/run-mesos-slave.sh

ExecStop=-/usr/bin/docker stop mesos-slave

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=false
MachineMetadata=role=worker
MachineMetadata=ip=%i
