# https://raw.githubusercontent.com/DataDog/docker-dd-agent/master/dd-agent.service
# make sure the etcd /ddapikey is set!
[Unit]
Description=Datadog Agent for Mesos, Marathon & Zookeeper
After=docker.service

[Service]
EnvironmentFile=/etc/environment
User=core
Restart=always
ExecStartPre=/usr/bin/docker pull behance/docker-dd-agent-mesos:latest
ExecStartPre=-/usr/bin/docker stop dd-agent-mesos
ExecStartPre=-/usr/bin/docker rm -f dd-agent-mesos
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill dd-agent-mesos
ExecStartPre=-/usr/bin/docker rm dd-agent-mesos
ExecStart=/usr/bin/bash -c \
"if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && sudo /usr/bin/docker run --name dd-agent-mesos -h `hostname` \
-e API_KEY=`etcdctl get /ddapikey` \
-e MESOS_HOST \
behance/docker-dd-agent-mesos"
ExecStop=/usr/bin/docker stop dd-agent-mesos

[X-Fleet]
Global=false
MachineMetadata=role=control
