[Unit]
Description=Docker Cleanup
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Timer]
User=core
# run 10 minutes after boot
OnBootSec=10min
# run every hour
OnUnitActiveSec=4h

[X-Fleet]
Global=true
MachineMetadata=role=worker
MachineMetadata=role=proxy
