[Unit]
Description=Get etcdctl authentication
After=docker.service bootstrap.service
Requires=docker.service


[Service]
User=core
TimeoutStartSec=0
ExecStart=/usr/bin/sudo bash /home/core/mesos-systemd/v2/util/etcdctl-auth-root.sh

[X-Fleet]
Global=true
