[Unit]
Description=submit control-jenkins service to control-tier
After=docker.service fleet.service

[Service]
User=core
Type=oneshot
RemainAfterExit=false
ExecStart=/usr/bin/bash -c \
    '/usr/bin/fleetctl submit /etc/systemd/system/control-jenkins.service && \
    /usr/bin/fleetctl start control-jenkins'

[Install]
WantedBy=multi-user.target
