[Unit]
Description=Sysdig Cloud Agent
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
Restart=always
RestartSec=20
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStartPre=-/usr/bin/docker kill sysdig-agent
ExecStartPre=-/usr/bin/docker rm sysdig-agent
ExecStartPre=/usr/bin/docker pull sysdig/agent
ExecStart=/usr/bin/bash -c \
    "if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
    /usr/bin/docker run --name sysdig-agent \
    --privileged --net host --pid host \
    -e ACCESS_KEY=`/usr/bin/etcdctl get /sysdigkey` \
    -e TAGS="tier:${NODE_TIER},product:${NODE_PRODUCT},role:${NODE_ROLE}" \
    -v /var/run/docker.sock:/host/var/run/docker.sock \
    -v /dev:/host/dev \
    -v /proc:/host/proc:ro \
    -v /boot:/host/boot:ro sysdig/agent"
ExecStop=/usr/bin/docker stop sysdig-agent

[X-Fleet]
Global=true
