[Unit]
Description=Flight Director @ %i
# it's implied that marathon requires mesos
# look here: https://github.com/behance/mesos-systemd/tree/master/v3/fleet
After=docker.service marathon@%i.service
Requires=docker.service

[Service]

User=core
Restart=on-failure
RestartSec=8
TimeoutStartSec=0

ExecStart=/usr/bin/bash /home/core/mesos-systemd/v3/util/run-flight-director.sh
ExecStop=-/usr/bin/docker stop flight-director

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=false
MachineMetadata=role=control
MachineMetadata=ip=%i
