[Unit]
Description=Sumologic Control and Proxy Tier Collector
After=docker.service bootstrap.service

[Service]
EnvironmentFile=/etc/environment
Environment="IP=curl -sS http://169.254.169.254/latest/meta-data/local-ipv4"
User=core
Restart=always
TimeoutStartSec=0
ExecStartPre=/usr/bin/systemctl is-active bootstrap
ExecStartPre=/usr/bin/docker pull index.docker.io/behance/docker-sumologic
ExecStartPre=-/usr/bin/docker kill sumologic-control
ExecStartPre=-/usr/bin/docker rm -f sumologic-control
ExecStart=/usr/bin/bash -c \
    "if [[ -f /etc/profile.d/etcdctl.sh ]]; then source /etc/profile.d/etcdctl.sh;fi && \
    sudo /usr/bin/docker run --name sumologic-control \
    --hostname=$COREOS_PRIVATE_IPV4 \
    -v /var/lib/docker/containers/:/tmp/clogs/:ro \
    -e SUMO_NAME=docker_cluster \
    -e SUMO_CATEGORY=be/${NODE_PRODUCT}/${NODE_TIER}/control-logs \
    -e SUMO_COLLECTOR_NAME=mesos_app_collector \
    -e SUMO_HOSTNAME=$($IP) \
    -e SUMO_ACCESS_ID=`etcdctl get /sumologic/config/access-id` \
    -e SUMO_ACCESS_KEY=`etcdctl get /sumologic/config/access-key` \
    behance/docker-sumologic"
ExecStop=/usr/bin/docker stop sumologic-control

[X-Fleet]
Global=true
MachineMetadata=role=control
MachineMetadata=role=proxy
