[Unit]
Description=CFN Signaler @ %i
Requires=docker.service
After=docker.service bootstrap.service
After=zk-health.service mesos-master@%i.service marathon@%i.service

[Service]
EnvironmentFile=/etc/environment
Environment="IMAGE=etcdctl get /images/cfn-signal"
Environment="AZ=curl -sS http://169.254.169.254/latest/meta-data/placement/availability-zone"
Type=simple
User=core
Restart=on-failure

ExecStartPre=/usr/bin/systemctl is-active zk-health.service
ExecStartPre=/usr/bin/systemctl is-active mesos-master@*
ExecStartPre=/usr/bin/systemctl is-active marathon@*
ExecStartPre=/usr/bin/sh -c "docker pull $($IMAGE)"
ExecStartPre=/usr/bin/sh -c "/usr/bin/docker run --rm\
 $($IMAGE) cfn-signal\
 --stack $STACK_NAME\
 --region $($AZ|head -c-1)\
 --resource $CONTROL_ASG_NAME\
 --success true"

ExecStart=/usr/bin/sleep infinity

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=false
MachineMetadata=role=control
MachineMetadata=ip=%i
