[Unit]
Description=Marathon @ %i
Requires=docker.service
After=docker.service bootstrap.service zk-health.service mesos-master@%i.service

[Service]
Environment=ZOOKEEPER=localhost:2181
Environment="IMAGE=etcdctl get /images/marathon"
Environment="USER=etcdctl get /marathon/username"
Environment="PW=etcdctl get /marathon/password"

User=core
Restart=always
RestartSec=8
TimeoutStartSec=0

ExecStartPre=/usr/bin/systemctl is-active zk-health.service
ExecStartPre=/usr/bin/systemctl is-active mesos-master@*
ExecStartPre=/usr/bin/sh -c "docker pull $($IMAGE)"
ExecStartPre=-/usr/bin/docker kill marathon
ExecStartPre=-/usr/bin/docker rm marathon

ExecStart=/usr/bin/sh -c "/usr/bin/docker run \
  --name marathon \
  -e LIBPROCESS_PORT=9090 \
  --net=host \
  $($IMAGE) \
  --master zk://${ZOOKEEPER}/mesos \
  --zk zk://${ZOOKEEPER}/marathon \
  --http_credentials $($USER):$($PW) \
  --checkpoint \
  --task_launch_timeout 300000"

ExecStop=-/usr/bin/docker stop marathon

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=false
MachineMetadata=role=control
MachineMetadata=ip=%i
