[Unit]
Description=Exhibitor/Zookeeper health checker/block @ %i

# forces things like the update-engine (and related services such as managed
# CoreOS) to wait for this unit to complete
Before=locksmithd.service marathon@%i.service mesos-master@%i.service
After=zk-exhibitor@%i.service

[Service]
Type=simple
User=core
Restart=on-failure
RemainAfterExit=true

# array of objects, each representing a ZK node
Environment="EX_QUERY=curl -sS localhost:8181/exhibitor/v1/cluster/status"
# expected size of ensemble after it's done
Environment="CTL_SIZE=etcdctl get /environment/CONTROL_CLUSTER_SIZE"

# wait for zk-exhibitor to start - can't use %i specifier here
ExecStartPre=/usr/bin/bash -c 'while [ "$(systemctl is-active zk-exhibitor@*)" != "active" ]; do sleep 2; done'
# code==3 means that the node is up and serving
ExecStartPre=/usr/bin/bash -c 'while [ $($EX_QUERY|jq "[select(.[].code == 3)]|length") != $($CTL_SIZE) ]; do sleep 4; done'

ExecStart=/usr/bin/sleep infinity

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=control
MachineMetadata=ip=%i
