[Unit]
Description=Write a file with the etcd peers that we should bootstrap to

[Service]
Restart=on-failure
RestartSec=10
ExecStartPre=/usr/bin/docker pull monsantoco/etcd-aws-cluster:latest
ExecStartPre=/usr/bin/docker run --rm -v /etc/sysconfig/:/etc/sysconfig/ monsantoco/etcd-aws-cluster:latest
ExecStart=/usr/bin/systemctl start etcd2

[Install]
WantedBy=multi-user.target
