[Unit]
# ECR login is only valid for 12 hours.  Repeat every six hours to be safe.
Description=Runs Amazon ECR Login every 6 hours

[Timer]
OnUnitActiveSec=6h
Unit=aws-ecr-login.service

[X-Fleet]
Global=true
MachineMetadata=role=worker
