[Unit]
Description=prep proxy nodes for qdisc plug switching
Requires=docker.service fleet.service bootstrap.service
After=docker.service fleet.service bootstrap.service update-scripts.service

[Service]
Environment=PROXY_SETUP_IMAGE=behance/mesos-proxy-setup:latest
User=core
Type=oneshot
RemainAfterExit=false

ExecStart=/usr/bin/sh -c "source /etc/profile.d/etcdctl.sh && /usr/bin/docker run \
    --name mesos-proxy-setup \
    --net='host' \
    --privileged \
    ${PROXY_SETUP_IMAGE}


[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=proxy