[Unit]
Description=update /home/core/mesos-systemd (by completely nuking it)
Requires=docker.service
After=docker.service fleet.service bootstrap.service

[Service]
EnvironmentFile=/etc/environment
User=core
Type=oneshot
RemainAfterExit=false

ExecStartPre=-/usr/bin/rm -rf /home/core/mesos-systemd
ExecStart=/usr/bin/git clone https://github.com/behance/mesos-systemd /home/core/mesos-systemd
ExecStart=/usr/bin/sudo bash /home/core/mesos-systemd/v2/util/setup-credentials.sh

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
